:root{
    --color-white-1: #FFFFFF;
    --color-white-2: #F7F7F7;
    --color-white-3: #E8E9ED;
    --color-gray-1: #A5A5A5;
    --color-gray-2: #95989A;
    --color-gray-3: #707070;
    --color-gray-opacity-1: #00000029;
    --color-blue-1: #08A6E4;
    --color-blue-2: #07ACE6;
    --color-blue-opacity-1: #07ACE629;
    --color-red-1: #FB3B64;
    --color-red-opacity-1: #EB476E;
    --color-green-1: #55DFB4;
    --color-pink-opacity-1: #F9043629;
    --color-pink-opacity-2: #FF091129;
    --color-black-1: #000000;
    --color-black-2: #13253B;

    --color-primary: var(--color-blue-1);
    --color-primary-shadow: rgba(7, 172, 230, .16);

    --font-raleway: "Raleway", sans-serif;
    --font-open-sans: "Open Sans", sans-serif;
}

$color-primary: #08A6E4;
$color-primary-shadow: rgba(7, 172, 230, .16);
$color-redish: #FB3B64;
$color-green: #55DFB4;
$color-black: #000000;
$color-white: #ffffff;
$color-grey: #A5A5A5;
$color-light-grey: #F7F7F7;
