.section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
    max-width: 100vw;
}

.section--why-us{
    height: 80vh;
    gap: 2.25rem;
    justify-content: flex-start;
    @media (max-width: 650px){
        max-height: 100vh;
    }
}

.section--stats{
    gap: 6rem;
    justify-content: space-between;
}

.section--benefits{
    gap: 100px;
    background-color: var(--color-white-2);
}

.section--contact{
    margin-top: 10rem;
    margin-bottom: 10rem;
    @media (max-width: 650px){
        margin-bottom: 1rem;

        min-height: 80vh;
    }
}