.benefits-container{
    margin: 0 auto;
    width: 60%;

    @media(max-width: 1400px){
        width: 90%;
    }
}

@mixin benefit__utility(){
    background-color: var(--color-white-1);
    text-align: left;
    margin-top: 100px;
    
    @media(max-width: 1150px){
        margin-top: 50px;
    }

    h2{
        font-size: 2rem;
        font-family: var(--font-raleway);
    }

    p{
        font-size: 1rem;
        font-family: var(--font-open-sans);
        line-height: 1.4em;

    }

    &:last-child{
        margin-bottom: 100px;
        
        @media(max-width: 1150px){
            margin-bottom: 50px;
        }
    }
}

.benefit{
    width: 100%;
    min-height: 370px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 5rem;
    @include benefit__utility();

    @media(max-width: 850px){
        min-height: 400px;
        flex-direction: column-reverse;
        gap: 2rem;
        padding: 1.5rem;
        align-items: center;
    }

    @media(max-width: 650px){
        min-height: 450px;
        gap: 0;
    }
}

.benefit__description{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 40%;

    @media(max-width: 850px){
        width: 95%;
        gap: 0.5rem;
    }
}

.benefit__description::after{
    margin-top: 1.25rem;
    content: '';
    display: block;
    width: 80%;
    height: 0.25rem;

    @media(max-width: 850px){
        display: none;
    }
}

.benefit-text__decoration--red::after{
    background-color: var(--color-red-1);
}

.benefit-text__decoration--blue::after{
    background-color: var(--color-blue-1);
}

.benefit-text__decoration--green::after{
    background-color: var(--color-green);
}

.benefit__img{
    position: relative;
    margin-right: 2rem;
    width: 35%;

    @media(max-width: 850px){
        flex-direction: column-reverse;
        width: 50%;
    }

    @media(max-width: 650px){
        flex-direction: column-reverse;
        width: 60%;
    }
} 

.img--macbook{
    @media(max-width: 850px){
        padding-top: 20px;
    }
}


.benefit__img img{
    width: 100%;
    position: relative;
}

.benefit:nth-child(2){
    flex-direction: row-reverse;

    @media(max-width: 850px){
        flex-direction: column-reverse;
        gap: 2rem;
    }
}

.img--macbook::before {
    content: "";
    width: 40%;
    height: 80%;
    background-color: var(--color-red-1);
    display: block;
    border-radius: 40px;
    position: absolute;
    right: 0;
    top: -40px;
    transform: rotate(45deg);

    @media(max-width: 850px){
        top: -10px;
    }
}


.img--iphone::before {
    content: "";
    width: 80%;
    height: 90%;
    background-color: var(--color-blue-2);
    display: block;
    border-radius: 50%;
    position: absolute;
    left: 0;
    top: -5px;
}


// .benefit__decoration--blue::after{
//     background-color: var(--color-blue-1);
// }

