.benefits-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2.3125rem;
  }

  .benefit--macbook{
    --accent-color: var(--color-red-1);   
  }

  .benefit{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--color-white-1);
    color: var(--color-black-1);
    font-weight: 400;
    text-align: left;
    gap: 6rem;
    max-height: 370px;

    @media (max-width: 600px){
        flex-direction: column;
    }
  }

  .benefit__text{
    display: flex;
    flex-direction: column;
    gap: 1.875rem;
  }

  .benfit__text--1{
    padding: 91px 0 91px 35px;
  }

  .benefit__title{
    font-family: var(--font-raleway);
    font-size: 2rem;
  }

  .benefit__description{
    font-family: var(--font-open-sans);
    font-size: 1rem;
  }


.benefit__decoration::after{
    margin-top: 1.25rem;
    content: '';
    display: block;
    width: 80%;
    height: 0.25rem;
}

.benefit__decoration--red::after{
    background-color: var(--color-red-1);
}


.benefit__img{
    position: relative;
}

.benefit__img img{
    position: relative;
    z-index: 2;
}

.benefit--iphone .benefit__text{
    padding: 0 30px 0 90px;
}

.benefit--macbook .benefit__text{
    padding: 0 60px 0 80px;
}

.benefit--macbook .benefit__img{
    margin: 113px 117px 38px 0;
}

.benefit--macbook .benefit__img::before {
    content: "";
    width: 180px;
    height: 180px;
    background-color: var(--accent-color);
    display: block;
    border-radius: 40px;
    position: absolute;
    right: 0;
    top: -40px;
    transform: rotate(45deg);
}

.benefit--macbook .benefit__img img {
    width: 386px;
    height: auto;
}

.benefit--iphone .benefit__img{
    margin: 29px 0 13px 70px;
}

.benefit--iphone .benefit__img img{
    width: 426px;
    height: auto;
}

.benefit--iphone .benefit__img::before {
    content: "";
    width: 320px;
    height: 320px;
    background-color: var(--color-blue-2);
    display: block;
    border-radius: 50%;
    position: absolute;
    left: 0;
    top: -20px;
}


.benefit__decoration--blue::after{
    background-color: var(--color-blue-1);
}

.trumpet-benefit-container{
    display: flex;
    justify-items: space-between;
    width: 100%;
    max-height: 370px;
    gap: 60px;
}

.benefit--small{
    height: 370px;
    align-self: flex-start;
    max-width: 60%;
}

.benefit--small .benefit__text{
    padding: 60px 35px;
}

.benefit__decoration--green::after{
    background-color: var(--color-green-1);
    padding: 0;
}

.benefit-trumpet{
    width: 440px;
    height: 370px;
    background-color: var(--color-green-1);
    display: flex;
    align-items: center;
    justify-content: center;
}

.benefit-trumpet img{
    max-width: 295.73px;
    height: 207.72px;
}
