.pricing-container{
    display: flex;
    gap: 3.75rem;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    @media (max-width: 650px){
        margin-top: 20px;
    }
}

.pricing-block{
    margin-top: 50px;
    text-align: center;
    border: 1px solid transparent;
    border-radius: 18px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    font-family: var(--font);
    padding: 2.3rem 8rem;
    position: relative;

    @media (max-width: 650px){
        width: 95%;
        margin-top: 0;
        padding: 0 3rem;
        flex-direction: row;
        gap: 2rem;
    }
}

.pricing-text{
    display: flex;
    flex-direction: column;
    @media (max-width: 650px){
        align-items: center;
        justify-content: center;
    }
}

.pricing-block--secondary{
    min-height: 520px;
    align-self: center;

    @media (max-width: 650px){
        min-height: 300px;
    }
}

.pricing-block--secondary:first-child{
    border-color: var(--color-red-1);
}

.pricing-block--secondary:last-child{
    border-color: var(--color-green-1);
}

.pricing-block--primary{
    min-height: 550px;
    border: 1px solid var(--color-blue-2);
    box-shadow: 5px 10px 27px var(--color-blue-opacity-1);

    @media (max-width: 650px){
        min-height: 320px;
    }
}

.pricing-block p{
    font-family: var(--font-raleway);
    font-weight: 700;
    font-size: 1.4rem;
    @media (max-width: 650px){
        font-size: 1rem;
    }
}

.price{
    margin-top: 0.875rem;
    font-family: var(--font-open-sans);
    font-weight: 300;
    font-size: 2.875rem;
}

.price--basic{
    color: var(--color-red-1);
}
.price--pro{
    color: var(--color-blue-2);
}

.price--prem {
    color: var(--color-green-1);
}



.price--limited::after{
    margin-top: 0.8rem;
    content: 'limited offer';
    text-transform: uppercase;
    display: block;
    font-family: var(--font-raleway);
    font-size: 0.6rem;
    font-weight: bold;
    color: var(--color-black-2);
    text-align: left;

    @media (max-width: 650px){
        font-size: 0.8rem;
    }
}

.price--nonlimited::after{
    margin-top: 0.8rem;
    content: '';
    display: block;
    height: 0.6rem;
    @media (max-width: 650px){
        height: 0.8rem;
    }
}

.pricing__list{
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
    font-family: var(--font-open-sans);
    font-weight: 400;
    font-size: 0.9rem;
    color: var(--color-black-1);

    @media (max-width: 650px){
        gap: 1rem;
        font-size: 0.8rem;
        text-align: left;
    }

}

.list-item::before{
    content: '';
    width: 11px;
    height: 11px;
    display: inline-block;
    margin-right: 0.5rem;
}

.list-item--included::before{
    background-image: url('/images/included-icon.svg'); 
}

.list-item--excluded::before{
    background-image: url('/images/excluded-icon.svg'); 
}