.article-title{
    text-align: center;
    font-family: var(--font-raleway);
    font-size: 2rem;
    font-weight: 400;
    color: var(--color-black-1);
}

.stats-container{
    display: flex;
    justify-content: center;
    gap: 11.5rem;
    max-width: 800px;

    @media (max-width: 650px){
        flex-direction: column;
        gap: 2rem;
    }
}

.single-stat{
    max-width: 130px;
    display: flex;
    flex-direction: column;
    gap: 1.4rem;
    align-items: center;
    justify-content: flex-start;
    text-align: center;
    font-family: var(--font-raleway);
}

.stat__circle{
    border-radius: 50%;
    width: 63px;
    height: 63px;
    position: relative;
}

.stat__icon{
    position: absolute;
}

.stat__number{
    font-size: 1.25rem;
    font-weight: 800;
    letter-spacing: 0.1875rem;

    @media (max-width: 650px){
        font-size: 2rem;
    }
}

.stat__description{
    color: var(--color-grey);
    font-size: 1rem;
}

.single-stat:nth-child(1) .stat__circle{
    background-color: var(--color-red-1);
}
   
.single-stat:nth-child(2) .stat__circle{
    background-color: var(--color-blue-1);
}

.single-stat:nth-child(3) .stat__circle{
    background-color: var(--color-green-1);
}

.single-stat:nth-child(1) .stat__icon{
    top: 0;
    left: 45%;
  }
  
  .single-stat:nth-child(2) .stat__icon{
    top: 14px;
    left: 47%;
  }

.single-stat:nth-child(3) .stat__icon {
    top: 6px;
    left: 50%;
  }
