:root{
    --color-white-1: #FFFFFF;
    --color-white-2: #F7F7F7;
    --color-white-3: #E8E9ED;
    --color-gray-1: #00000029;
    --color-gray-2: #A5A5A5;
    --color-gray-3: #95989A;
    --color-gray-4: #707070;

}