:root{
    --color-white-1: #FFFFFF;
    --color-white-2: #F7F7F7;
    --color-white-3: #E8E9ED;
    --color-gray-1: #A5A5A5;
    --color-gray-2: #95989A;
    --color-gray-3: #707070;
    --color-gray-opacity-1: #00000029;
    --color-blue-1: #08A6E4;
    --color-blue-2: #07ACE6;
    --color-blue-opacity-1: #07ACE629;
    --color-red-1: #FB3B64;
    --color-red-opacity-1: #EB476E;
    --color-green-1: #55DFB4;
    --color-pink-opacity-1: #F9043629;
    --color-pink-opacity-2: #FF091129;
    --color-black-1: #000000;
    --color-black-2: #13253B;

    --color-primary: var(--color-blue-1);
    --color-primary-shadow: rgba(7, 172, 230, .16);

    --font-raleway: "Raleway", sans-serif;
    --font-open-sans: "Open Sans", sans-serif;
}

*{
    box-sizing: border-box;
}

a{
    text-decoration: none;
}

.header{
    background-color: var(--color-white-1);
    box-shadow: 0px 3px 6px var(--color-gray-opacity-1);
}

.header-container{
    width: 1352px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    height: 100%;
}

.logotype{
    color: var(--color-primary);
    font-family: var(--font-raleway);
    font-weight: 300;
    text-align: left;
}

.logotype{
    padding: 1rem;
}

.logotype--header{
    font-size: 2rem;
}

.header-navbar__list{
    display: flex;
    list-style: none;
    text-transform: uppercase;
    gap: 3rem;
}

.nav__link{
    padding: 1.2rem 0;
    font-family: var(--font-open-sans);
    font-size: 0.8rem;
    font-weight: 700;
    letter-spacing: 0.205rem;
    color: var(--color-gray-1);
    border-bottom: 4px solid transparent;
}

.nav__link:hover{
    color: var(--color-black-1);
    border-color: var(--color-primary);
}

.section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
}

.section--why-us{
    gap: 1.25rem;
}

.welcome-text{
    color: var(--color-black-1);
    font-weight: 400;
}

.page-title{
    font-size: 3.0625rem;
    font-family: var(--font-raleway);
}

.title-description{
    font-family: var(--font-open-sans);
    text-align: center;
    font-size: 1rem;
}

.link{
    font-family: var(--font-open-sans);
    color: var(--color-white-1);
    font-size: 1rem;
    line-height: 1.375rem;
    background-color: var(--color-primary);
    border-radius: 1000px;
    box-shadow: 5px 10px 14px var(--color-primary-shadow);
}

.link--shop{
    margin-top: 38px;
    padding: 1.375rem  9.8125rem;
}

.background-img{
    width: 100%;
}

.section--stats{
    gap: 6rem;
    justify-content: space-between;
}

.article-title{
    text-align: center;
    font-family: var(--font-raleway);
    font-size: 2rem;
    font-weight: 400;
    color: var(--color-black-1);
}

.section--benefits{
    gap: 100px;
}

.stats-container{
    display: flex;
    justify-content: center;
    gap: 11.5rem;
    max-width: 800px;
}

.single-stat{
    max-width: 130px;
    display: flex;
    flex-direction: column;
    gap: 1.4rem;
    align-items: center;
    justify-content: flex-start;
    text-align: center;
    font-family: var(--font-raleway);
}

.stat__circle{
    border-radius: 50%;
    width: 63px;
    height: 63px;
    position: relative;
}

.stat__icon{
    position: absolute;
}

.stat__number{
    font-size: 1.25rem;
    font-weight: 800;
    letter-spacing: 0.1875rem;
}

.stat__description{
    color: var(--color-grey);
    font-size: 1rem;
}

.single-stat:nth-child(1) .stat__circle{
    background-color: var(--color-red-1);
}
   
.single-stat:nth-child(2) .stat__circle{
    background-color: var(--color-blue-1);
}

.single-stat:nth-child(3) .stat__circle{
    background-color: var(--color-green-1);
}

.single-stat:nth-child(1) .stat__icon{
    top: 0;
    left: 45%;
  }
  
  .single-stat:nth-child(2) .stat__icon{
    top: 14px;
    left: 47%;
  }

.single-stat:nth-child(3) .stat__icon {
    top: 6px;
    left: 50%;
  }

  .section--benefits{
    background-color: var(--color-white-2);
    padding: 6% 20%;
  }

  .benefits-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2.3125rem;
  }

  .benefit--macbook{
    --accent-color: var(--color-red-1);   
  }

  .benefit{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--color-white-1);
    color: var(--color-black-1);
    font-weight: 400;
    text-align: left;
    gap: 6rem;
    max-height: 370px;
  }

  .benefit__text{
    display: flex;
    flex-direction: column;
    gap: 1.875rem;
  }

  .benfit__text--1{
    padding: 91px 0 91px 35px;
  }

  .benefit__title{
    font-family: var(--font-raleway);
    font-size: 2rem;
  }

  .benefit__description{
    font-family: var(--font-open-sans);
    font-size: 1rem;
  }


.benefit__decoration::after{
    margin-top: 1.25rem;
    content: '';
    display: block;
    width: 80%;
    height: 0.25rem;
}

.benefit__decoration--red::after{
    background-color: var(--color-red-1);
}


.benefit__img{
    position: relative;
}

.benefit__img img{
    position: relative;
    z-index: 2;
}

.benefit--iphone .benefit__text{
    padding: 0 30px 0 90px;
}

.benefit--macbook .benefit__text{
    padding: 0 60px 0 80px;
}

.benefit--macbook .benefit__img{
    margin: 113px 117px 38px 0;
}

.benefit--macbook .benefit__img::before {
    content: "";
    width: 180px;
    height: 180px;
    background-color: var(--accent-color);
    display: block;
    border-radius: 40px;
    position: absolute;
    right: 0;
    top: -40px;
    transform: rotate(45deg);
}

.benefit--macbook .benefit__img img {
    width: 386px;
    height: auto;
}

.benefit--iphone .benefit__img{
    margin: 29px 0 13px 70px;
}

.benefit--iphone .benefit__img img{
    width: 426px;
    height: auto;
}

.benefit--iphone .benefit__img::before {
    content: "";
    width: 320px;
    height: 320px;
    background-color: var(--color-blue-2);
    display: block;
    border-radius: 50%;
    position: absolute;
    left: 0;
    top: -20px;
}


.benefit__decoration--blue::after{
    background-color: var(--color-blue-1);
}

.trumpet-benefit-container{
    display: flex;
    justify-items: space-between;
    width: 100%;
    max-height: 370px;
    gap: 60px;
}

.benefit--small{
    min-height: 370px;
    align-self: flex-start;
}

.benefit--small .benefit__text{
    padding: 60px 35px;
}

.benefit__decoration--green::after{
    background-color: var(--color-green-1);
    padding: 0;
}

.benefit-trumpet{
    min-width: 440px;
    height: 370px;
    background-color: var(--color-green-1);
    display: flex;
    align-items: center;
    justify-content: center;
}

.benefit-trumpet img{
    min-width: 295.73px;
    height: 207.72px;
}


.pricing-container{
    display: flex;
    gap: 3.75rem;
}

.pricing-block{
    margin-top: 50px;
    text-align: center;
    border: 1px solid transparent;
    border-radius: 18px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    font-family: var(--font);
    padding: 2.3rem 8rem;
    position: relative;
}

.pricing-block--secondary{
    min-height: 520px;
    align-self: center;
}

.pricing-block--secondary:first-child{
    border-color: var(--color-red-1);
}

.pricing-block--secondary:last-child{
    border-color: var(--color-green-1);
}

.pricing-block--primary{
    min-height: 550px;
    border: 1px solid var(--color-blue-2);
    box-shadow: 5px 10px 27px var(--color-blue-opacity-1);
}

.pricing-block p{
    font-family: var(--font-raleway);
    font-weight: 700;
    font-size: 1.4rem;
}

.price{
    margin-top: 0.875rem;
    font-family: var(--font-open-sans);
    font-weight: 300;
    font-size: 2.875rem;
}

.price--basic{
    color: var(--color-red-1);
}
.price--pro{
    color: var(--color-blue-2);
}

.price--prem {
    color: var(--color-green-1);
}



.price--limited::after{
    margin-top: 0.8rem;
    content: 'limited offer';
    text-transform: uppercase;
    display: block;
    font-family: var(--font-raleway);
    font-size: 0.6rem;
    font-weight: bold;
    color: var(--color-black-2);
    text-align: left;
}

.price--nonlimited::after{
    margin-top: 0.8rem;
    content: '';
    display: block;
    height: 0.6rem;
}

.pricing__list{
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
    font-family: var(--font-open-sans);
    font-weight: 400;
    font-size: 0.9rem;
    color: var(--color-black-1);
}

.list-item::before{
    content: '';
    width: 11px;
    height: 11px;
    display: inline-block;
    margin-right: 0.5rem;
}

.list-item--included::before{
    background-image: url('/images/included-icon.svg'); 
}

.list-item--excluded::before{
    background-image: url('/images/excluded-icon.svg'); 
}

.pricing-link{
    position: absolute;
    bottom: 0;
    transform: translate(0,50%);
    border-radius: 1000px;
}

.pricing-link--secondary{
    padding: 1rem  3.5rem;
}

.pricing-link--primary{
    padding: 1rem  4rem;
}

.pricing-link--basic{
    background-color: var(--color-red-1);
}

.pricing-link--prem{
    background-color: var(--color-green-1);
}

.section--contact{
    margin-top: 10rem;
}

.contact__container{
    display: flex;
    width: 50%;
    gap: 7.125rem;
}

.contact-info{
    display: flex;
    flex-direction: column;
    color: var(--color-black-1);
}

.info__title{
    font-family: var(--font-raleway);
    font-size: 3.1rem;
    margin-bottom: 1.375rem;
}

.mail-links{
   display:  flex;
   gap: 1.25rem;
}

.info__description{
    font-family: var(--font-open-sans);
    margin-bottom: 2.75rem;
}

.info__link{
    color: var(--color-gray-1);
    text-decoration: none;
    display: flex;
    font-family: var(--font-open-sans);
    align-items: center;
    justify-content: center;
    gap: 0.6rem;
    font-weight: 600;
}

.contact-form{
    display: flex;
    flex-direction: column;
    max-width: 440px;
}

.form__label{
    font-family: var(--font-open-sans);
    color: var(--color-blue-1);
    font-weight: 700;
    text-align: left;
    text-transform: uppercase;
    font-size: 0.68rem;
    letter-spacing: 0.2rem;
    line-height: 0.9rem;
}

.form__input{
    line-height: 2rem;
    border: none;
    border-bottom: 1px solid var(--color-gray-opacity-1);
    padding: 0.2rem 0;
    font-size: 2rem;
}

/* .form__input:focus-visible{
    border: none;
    border-top: 1px solid var(--color-gray-opacity-1);
} */

label[for="email"]{
    margin-top: 2rem;
}

.personal-data{
    margin-top: 2rem;
    display: flex;
    gap: 1rem;
    text-align: left;
    font-family: var(--font-open-sans);
}

.data-checkbox, .personal-data{
    cursor: pointer;
}

.data-checkbox{
   appearance: none;
   display: inline-block;
   align-self: flex-start;
   padding: 6px;
   min-height: 1.5rem;
   min-width: 1.5rem;
   border: 1px solid var(--color-gray-2);
   border-radius: 0.25rem;
   position: relative;
}

.data-checkbox:checked{
    content: '';
    max-width: 10px;
    max-height: 10px;
    background-image: url('/images/Checkmark.svg');
    background-position: center;
    background-repeat: no-repeat;
}

a.form__link{
    margin-top: 1.2rem;
    display: block;
    align-self: flex-end;
    text-align: center;
    padding: 1rem 5rem;
}

.personal-data{
    color: var(--color-gray-3);
    font-size: 0.8rem;
}

.footer{
    display: flex;
    justify-content: space-between;
    box-shadow: 0px -5px 40px #00000029;
    background-color: var(--color-white-2);
}

.footer-left{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 0.1rem;
    font-size: 0.75rem;
    color: var(--color-gray-1);
    padding: 10px 20px;
}

.logotype--footer{
    font-size: 1.625rem;
}

.footer-right{
    display: flex;
    gap: 1.25rem;
    padding: 2.25rem 8.5rem;
}






